.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* width: auto; */
  width: 100%;
}

.contentContainer {
  border: 1px solid;
  width: 65vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentContainer > h1 {
  margin-bottom: 100px;
}
