.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  height: 100vh;
  width: auto;
}

.contentContainer {
  border: 1px solid;
  width: 65vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
