.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid;
  margin-bottom: 10px;
}

.profileBox {
  display: flex;
  align-items: center;
}

.profileBox > img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
