nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  border: 1px solid;
  min-height: 4rem;
  max-height: 4rem;
  max-width: 100%;
}

li {
  list-style: none;
}
