form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

form > input {
  width: 600px;
  padding: 5px 5px;
  text-align: center;
}

form > input:focus {
  outline: none;
}

form > textarea {
  width: 600px;
  padding: 20px 20px;
  text-align: center;
  border-radius: 5px;
  caret-color: #010101;
}

form > textarea:focus {
  outline: none;
}

.contentLabel {
  margin-top: 30px;
}

label {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  width: 600px;
  background-color: #010101;
  color: #fafafa;
  transition: 0.2s ease-in;
}

button:hover {
  background-color: #94e19b;
  color: #010101;
}
